<input [(ngModel)]="prop1">
<app-input [my]="prop1"></app-input>
 <!-- <app-fournisseur></app-fournisseur> -->
<!-- <app-list-fournisseurs></app-list-fournisseurs> -->
<!---<app-list-produit></app-list-produit>---->
<!----<div class="container" id="body">
      
  <app-header></app-header>---->
   
    <!---start slide--->
    
    <!---end slide--->
    <!-- <app-list-user></app-list-user> -->
   <!--  <a [routerLink]="['/list', 5,'ahmed']" [queryParams]="{min:45,max:50,location:29293}">List</a>
    <a [routerLink]="['/profiles']" [queryParams]="{min:45,max:50,location:29293}">
  Search
</a>
<a [routerLink]="['/factures']">Facture</a> -->
<!-- <app-add-product-td></app-add-product-td> -->
<!-- <app-add-form-rf></app-add-form-rf>
<input [(ngModel)]="prop1">----->

<!---<app-add-user></app-add-user>---->
<!---<router-outlet></router-outlet> ---->
 <!--- </div>-->
  
 